/*traitemant des information de police et de couleur globale*/
@font-face {
  font-family: 'robotoregular';
  src: url('../font/Roboto-Regular-webfont.eot');
  src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Regular-webfont.woff2') format('woff2'),
    url('../font/Roboto-Regular-webfont.woff') format('woff'),
    url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
  font-family: 'Forte';
  src: url('http://www.fontsaddict.com/fontface/forte.ttf');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(46, 46, 46);
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}

h1,
h2,
h3,
h4 {
  font-family: 'Forte', Arial, Helvetica, sans-serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: 'robotoregular', Arial, sans-serif;
  color: white;
}


/*partie hearder*/
#home{
  position: fixed;
  background-color:  rgb(46, 46, 46);
  z-index: 100;
  width: 100%;
}
.navbar p {
  font-size: 1.5vw;
}

.navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menub.png);

}

.navbar a {
  margin: 0.5vw;
  white-space: nowrap;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {

  .nav-item,
  .navbar p {
    font-size: 1em;
  }
  #home{
    max-width: 100%;
  }
  .navbar-toggler {
    margin-right: 500rem;
  }
}
@media screen and (min-width: 200px) and (max-width: 479px) {
  .tel{
    display: none;
  }
}


/*prensentation de l'entreprise*/
#presentation{
  overflow: hidden;
}
.presentation {
  position: relative;
  top: 5rem;
  display: flex;
  min-height: 750px;
  margin-bottom: 5rem;

}

.img_p {
  background-image: url(../img/artisan-du-burger-14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 15vw;
  -webkit-text-stroke: 5px black;
  text-shadow: black 10px 10px 4px;
  margin-top: 5rem;
}

.img_p h2 {
  color: white;
  font-size: 5vw;
  -webkit-text-stroke: 5px black;
  text-shadow: black 10px 10px 4px;
}

.Fait {
  padding-top: 3rem;
  background-color: white;
}

.Fait h3 {
  font-size: 4vw;
  justify-content: start;
  color: black;
}
.Fait p {
  color: black;
  font-size: 2vw;
}
@media screen and (min-width: 731px) and (max-width: 991px) {
  .Fait p {
    font-size: 3vw!important;
  }
  .Fait h3 {
    margin-top: 3rem!important;
    font-size: 2rem;
  }
}
@media screen and (max-width: 730px) {

  .Fait p {
    font-size: 1.5rem;
  }
  .Fait h3 {
    margin-top: 3rem!important;
    font-size: 2rem;
  }
  .img_p h1{
    margin-top: 5rem;
    font-size: 20vw;
    -webkit-text-stroke: 2px black;
  }
  .img_p h2{
    font-size: 15vw;
    -webkit-text-stroke: 2px black;
    margin-bottom: 2rem;
  }
}


/*prensentations des formules*/

#formules h2,
h3 {
  color: white;
}

#formules h2 {
  font-size: 4vw;
}

#formules h3 {
  font-size: 2.5vw;
  text-decoration: underline;
}

#formules p {
  font-size: 1.5vw;
  margin-top: 2rem;
}

.f1 {
  
  height: 35rem!important;
  margin: auto;
  padding-left: 2rem;
  margin-bottom: 5rem;

}

#formules a {
 
  border-radius: 17px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #formules h2 {
    font-size: 6vw;
  }

#formules h3 {
  font-size: 5vw;
  text-align: start;
}

#formules p {
  font-size: 3vw;
  text-align: justify;

}

.f1 {
  min-height: 30rem;
  padding: 4rem;
}

}
@media screen and  (max-width: 767px) {
  #formules h2 {
    font-size: 9vw;
  }

#formules h3 {
  font-size: 7vw;
  text-align: center;
}

#formules p {
  font-size: 4vw;
  text-align: center;

}
.textformule{
  text-align: center;
}
.f1{
 margin-bottom: 2rem!important;
}
}


/*presentation des burgeurs phares*/
#burg_phares{
  overflow: hidden;
  
}
.b_p {
  max-height: 52rem;
  background-color: white;
}

.b_p h3 {
  color: black;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.b_p p {
  color: black;
  font-size: 1.5rem;
}

@media screen  and (max-width: 1000px) {
 .carousel {
   min-width: 100%;
   height: 30rem;
 }
  .b_p {
    position: absolute;
    left: 12rem;
    background-color: transparent;
    margin-left: auto;
    z-index: 10;
    
  }
  .burgs1 img{
    
    width: 40rem!important;
    margin-left: auto;
    min-height: 35rem;
  
  }
  .b_p h3 {
    color: white;
    width: 25rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 1px black;
    text-shadow: black 5px 5px 4px;
  }
  
  .b_p p {
    font-size: 2rem;
    color: white;
    width: 30rem;
    margin: 0!important;
    padding: 0!important;
    -webkit-text-stroke: 1px black;
    text-shadow: black 2px 2px 1px;
  }
  .b_p img{
    max-width: 20%;
  }
}
@media screen  and (max-width: 824px) {
  .b_p {
    left: 10rem;
  }
  .burgs1{
    max-height: 5rem!important;
  }
}
@media screen  and (max-width: 767px) {
  .b_p {
    top: 2rem;
    left: 5rem;
  }
  .b_p h3 {
    
    width: 25rem;
    font-size: 2.5rem;
  }
  
  .b_p p {
    margin-left: 7rem!important;
  }

}
@media screen  and (max-width: 700px) {
  .b_p {
    top: 2rem;
    left: 2rem;
  }
}
@media screen  and (max-width: 630px) {
  .b_p {
    top: 2rem;
    left: 0.5rem;
  }
  .b_p p {
    width: 27rem;
    margin-left: 5rem!important;
  }
}
@media screen  and (max-width: 550px) {
  
  .b_p p {
    width: 25rem;
    margin-left: 2.5rem!important;
  }
}
@media screen  and (max-width: 480px) {
  
  .b_p p {
    width: 20rem;
    margin-left: 2.2rem!important;
    font-size: 1.7rem;
  }
  .b_p h3 {
    width: 20rem;
    font-size: 2rem;
  }
}
@media screen  and (max-width: 380px) {
  
  .b_p p {
    width: 15rem;
    margin-left: 3rem!important;
    font-size: 1.7rem;
  }
  .b_p h3 {
    width: 17rem;
    font-size: 1.7rem;
  }
}
@media screen  and (max-width: 310px) {
  
  .b_p p {
    width: 13rem;
    margin-left: 2rem!important;
    font-size: 1.5rem;
  }
  .b_p h3 {
    width: 17rem;
    font-size: 1.5rem;
  }
}

/*liste des burgers*/
.t_b {
  color: white;
  font-size: 4vw;
  -webkit-text-stroke: 3px black;
}

#burg_phares {
  max-width: 1590px;
}

#Nos_burgers h2 {
  padding-top: 2rem;
  min-height: 7rem;
  font-size: 4vw;
  white-space: nowrap;
}

#Nos_burgers h3 {
  position: absolute;
  top: 1rem;
  font-size: 3vw;
}

.t_mobile {
  display: none;
}

.box_b {
  position: relative;
  height: 22rem;
  border: solid white 3px;
  overflow: hidden;
}

.box_b h3 {
  position: absolute;
  font-size: 3vw;
  -webkit-text-stroke: 3px black;
  text-shadow: black 7px 7px 4px;
}


.button{
  position: absolute;
  bottom: 1rem;
  border-radius: 17px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
}
.modal-content{
  width: 50rem!important;
  height: 35rem!important;
}
.modal-dialog{
  margin-left: 15rem !important;
}
@media screen and (max-width: 1150px){
  .modal-dialog{
    margin-left: 9rem !important;
  }
}

@media screen and (max-width: 1000px) {
  .t_ordi{
    display: none;
  }
  .t_mobile {
    margin-top: 2rem;
    display: block;
    min-height: 450px;
    background-image: url(../img/1973833203_03392424ac_z.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .t_mobile h3{
    padding-left: 7rem;
    font-size: 5rem!important;
    text-align: center!important;
    -webkit-text-stroke: 3px black;
  text-shadow: black 7px 7px 4px;
  }
  .t_mobile p{
    color: white;
    margin-top: 8rem;
    margin-left: -2rem;
    font-size: 2rem!important;
    text-align: center!important;
    -webkit-text-stroke: 1.5px black;
  text-shadow: black 2px 2px 4px;
  }
  .t_mobile a{
    margin-left: 12rem;
    font-size: 2rem!important;
    box-shadow: white 2px 2px 4px;
    border: black solid 1px;
    border-radius: 5rem;
  
  }

}

@media screen and (max-width: 767px) {
  
  .t_mobile h3{
    padding-left: 1rem;
  }
  .t_mobile p{
    margin-left: -2rem;
  }
  .t_mobile a{
    margin-left: 6rem;
  }
}
@media screen and (max-width: 530px) {
  
  .t_mobile h3{
    padding-left: 1rem;
    font-size: 5rem!important;
  }
}
@media screen and (max-width: 459px) {
  
  .t_mobile h3{
    padding-left: 1rem;
    font-size: 4rem!important;
  }
  .t_mobile a{
    margin-top: 3rem;
    margin-left: 3rem;
    box-shadow: white 2px 2px 4px;
    border: black solid 1px;
    border-radius: 5rem;
  }
}
@media screen and (max-width: 376px) {
  
  .t_mobile h3{
    padding-left: 1.5rem!important;
    font-size: 3rem!important;
    
  }
  .t_mobile p{
    font-size: 1.7rem!important;
    margin-left: -1rem;
  }
  .t_mobile a{
    margin-top: 5rem;
    font-size: 1.5rem!important;
    margin-left: rem!important;
    box-shadow: white 2px 2px 4px;
  border: black solid 1px;
  border-radius: 5rem;
  }
}
@media screen and (max-width: 302px) {
  
  .t_mobile h3{
    font-size: 2.5rem!important;
    margin-bottom: 0.5rem!important;
    
  }
  .t_mobile p{
    font-size: 2rem!important;
    margin-top: 6rem!important;
  }
  .t_mobile a{
    margin-top: 0.5rem!important;
    font-size: 1.3rem!important;
    margin-left: 1.4rem!important;
    border-radius: 17px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
  }
}

/*présentation du bar*/
#bar {
  margin-bottom: 5rem;
  margin-top: 5rem;
  

}

.titre {
  min-height: 13rem;
  padding-left: 20rem;
}

.titre img {
  max-width: 10rem;
  max-height: 10rem;
}

.titre h2 {
  font-size: 9vw;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: black 7px 7px 4px;
  padding-left: 5rem;
}

#bar p {
  font-size: 2vw;
}

.cart_bar {
  max-width: 25rem;
  font-size: 3vw;
  margin-top: 5rem;
 
  margin-bottom: 5rem;
  border-radius: 50px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
}

.carousel-inner img {
  min-width: 100%;
  max-height: 100%;
}

.car_bar2 {
  min-height: 5rem;
  background-color: brown;
}

@media screen and  (max-width: 1060px) {

  .titre {
    padding-left: 10rem;
  }

  .titre img{
    max-width: 7rem;
    max-height: 7rem;
  }
}
@media screen and  (max-width: 800px) {

  .titre {
    padding-left: 2rem;
  }

  .titre img{
    max-width: 4rem;
    max-height: 4rem;
  }
  .cart_bar {
    font-size: 5vw;
  }
  #bar p {
    font-size: 5vw!important;
  }

}
@media screen and  (max-width: 410px) {

  .titre {
    padding-left: 0.5rem;
  }
}
@media screen and  (max-width: 380px) {

  .titre img{
    display: none!important;
  }
  .titre h2 {
    padding-left: 3rem;
    -webkit-text-stroke: initial!important;
    text-shadow: none;
  }
  .titre{
    min-height: 5rem;
  }
  #bar p {
    font-size: 5vw!important;
  }
}

/*présentations du petit déjeuner*/
#petit_dej {
  background-image: url(../img/coffee-morning-breakfast-croissant-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

.titre2 {
  height: 10rem;
}

.titre2 h2 {
  font-size: 10vw;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: black 7px 7px 4px;
  padding-left: 2rem;
    
}

.titre2 img {
  max-height: 60%;
  max-width: 6rem;
  margin-top: 3rem;
  
}

#petit_dej p {
  font-size: 5vw;
  margin: 10px 20px 0 20px;
  -webkit-text-stroke: 1px black;
  text-shadow: black 4px 4px 4px;
}

.cart_pdj {
  
  font-size: 3vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 100px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
}
@media screen and  (max-width: 800px) {

  .titre2 img {
    max-height: 40%;
    max-width: 4rem;
    margin: 2rem 0 0 0;
  }
  #petit_dej p {
    font-size: 7vw;
  }
}
@media screen and  (max-width: 480px) {

  .titre2 img {
    max-height: 30%;
    max-width: 3rem;
  }
  #petit_dej p {
    font-size: 10vw;
  }
  #petit_dej a {
    font-size: 5vw;
  
  }
  .titre2 h2 {
    font-size: 20vw;      
  }
  .titre2 {
    margin-bottom: 3rem;
  }
}



/*parti renseignmentdu restaurent*/
#carte {
  max-height: 150rem;
  margin-bottom: 5rem;
}

.cordoné h3 {
  font-size: 5vw;
}

.cordoné p {
  font-size: 3vw;
}
iframe{
  height: 100%;
}
.adresse{
  display: none;
}
@media screen and (max-width: 1200px) {
    .maps{
    height: 30rem!important;
  }
  .cordoné p {
    font-size: 5vw;
  }
  .cordoné h3 {
    font-size: 7vw;
  }
}
@media screen and (max-width: 800px) {
  .maps{
  display: none;
  }
  .adresse{
    display: block;
    font-size: 5vw;
  }
  .adresse h3{
    font-size: 7vw;
  }
}

/*formulaire de contact*/
#contact {
  background-image: url(../img/3849117681_356ddfa030_z.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

#contact h2 {
  font-size: 8vw;
  color: white;
  -webkit-text-stroke: 3px black;
  text-shadow: black 10px 10px 4px;
  margin-top: -2rem;
}

.mess {
  padding-bottom: 10rem;
}

.cont_e {
  width: 40rem;
  font-size: 3rem;
  margin-bottom: 5rem;
  border-radius: 100px;
  box-shadow: black 10px 10px 4px;
  border: black solid 1px;
}

#contact input,
textarea {
  font-size: 1rem;
  color: red;
  margin-bottom: 5rem;
}





/* pied de page*/
footer{
  max-width: 97%;
}
footer h3 {
  font-size: 2vw;
}

@media screen and (max-width: 950px) {
  footer h3 {
    font-size: 4vw!important;
  }
}
@media screen and (max-width: 550px) {
  footer h3 {
    font-size: 7vw!important;
  }
}
