@font-face {
  font-family: 'robotoregular';
  src: url('../font/Roboto-Regular-webfont.eot');
  src: url('../font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/Roboto-Regular-webfont.woff2') format('woff2'),
    url('../font/Roboto-Regular-webfont.woff') format('woff'),
    url('../font/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
}

@font-face {
  font-family: 'Forte';
  src: url('http://www.fontsaddict.com/fontface/forte.ttf');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(46, 46, 46);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Forte', Arial, Helvetica, sans-serif;
}

a {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: 'robotoregular', Arial, sans-serif;
  color: white;
}

.nav-item,
.navbar p {
  font-size: 1.5vw;
}

.navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/menub.png);

}

.presentation {
  display: flex;
  height: 750px;
}

.img_p {
  background-image: url(../img/artisan-du-burger-14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: white;
  font-size: 15vw;
  -webkit-text-stroke: 5px black;
  text-shadow: black 10px 10px 4px;
  margin-top: 12rem;
}

.img_p h2 {
  color: white;
  font-size: 5vw;
  -webkit-text-stroke: 5px black;
  text-shadow: black 10px 10px 4px;
}

.Fait {
  background-color: white;
}

.Fait h3 {
  font-size: 4vw;
  justify-content: start;
  color: black;
}

.Fait p {
  color: black;
  font-size: 2vw;
}

#formules h2,
h3 {
  color: white;
}

#formules h2 {
  font-size: 4vw;
}

#formules h3 {
  font-size: 2.5vw;
  text-decoration: underline;
}

#formules p {
  font-size: 1.5vw;
  margin-top: 2rem;
}

.f1 {
  height: 20rem;
}

#formules a {
  position: absolute;
  top: 15rem;
  left: 3rem;
  border-radius: 20px;
  box-shadow: white 2px 2px 4px;
  border: black solid 1px;
}

.b_p,
.burgs1 {
  height: 45rem;
}

.b_p {
  background-color: white;
}

.b_p h3 {
  color: black;
  font-size: 3rem;
}

.b_p p {
  color: black;
  font-size: 1.5rem;
}

.burgs1 {
  background-image: url(../img/1973833203_03392424ac_z.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}